In [22]:
from scripts.CONSTANTS import *

In [8]:
c = 2234234.7347547
print(round(c,2))

2234234.73

In [13]:
from scripts.CONSTANTS import *

In [20]:
from decimal import Decimal

# First we take a float and convert it to a decimal
x = Decimal(0.1)

# Then we round it to 2 places
output = round(x,2)
print(output)
print(x)

0.10
0.1000000000000000055511151231257827021181583404541015625

In [28]:
from prettytable import PrettyTable
    
x = PrettyTable()

x.field_names = [i for i in range(4)]

x.add_row(["Adelaide", 1295, 1158259, (1,0)])
x.add_row(["Brisbane", 5905, 1857594, 1146.4])
x.add_row(["Darwin", 112, 120900, 1714.7])
x.add_row(["Hobart", 1357, 205556, 619.5])
x.add_row(["Sydney", 2058, 4336374, 1214.8])
x.add_row(["Melbourne", 1566, 3806092, 646.9])
x.add_row(["Perth", 5386, 1554769, 869.4])

print(x)

+-----------+------+---------+--------+
|     0     |  1   |    2    |   3    |
+-----------+------+---------+--------+
|  Adelaide | 1295 | 1158259 | (1, 0) |
|  Brisbane | 5905 | 1857594 | 1146.4 |
|   Darwin  | 112  |  120900 | 1714.7 |
|   Hobart  | 1357 |  205556 | 619.5  |
|   Sydney  | 2058 | 4336374 | 1214.8 |
| Melbourne | 1566 | 3806092 | 646.9  |
|   Perth   | 5386 | 1554769 | 869.4  |
+-----------+------+---------+--------+

In [ ]:
sys.path

In [ ]:
print(round(3.2))